# env
*.pyc
.DS_Store
.idea
.env

# language
__pycache__
.venv/
models

# local
docs
input
db
data
local_pro

fx_frontend
fx_backend

# tmp
fx_launch.ipynb
fx_service.ipynb
fx_env.ipynb
fx_docker.ipynb
