# development environment
# ipywidgets
torch==1.11.*

# Base: app dependency
pinecone-client
llama-index
llama-hub
pypdf
sentence-transformers
faiss-cpu
ctransformers

## Increment: llama index
llama-cpp-python

# UI: streamlit plug fastapi
streamlit
fastapi
uvicorn[standard]
st-pages                            # 多页app web ui

# cache
gptcache
pymilvus
milvus                              # 嵌入式 milvus
redis-om
redis

# autogen
pyautogen

# cli
fire
